header{
    font-size: x-large;
    color : white;
    text-align: left;
    background-color: rebeccapurple;
    padding: 3%;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}
body{
    background: linear-gradient(30deg, rebeccapurple 0%, darkslateblue 50%, black 100%);
    color: white;
}

footer{
    background-color: #702070;
    color: white;
    border-radius: 10px;
}

#names{
    text-align: center;
    font-family: sans-serif;
    padding: 300px;
}

.link{
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.link:hover{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    color: purple;
    text-decoration: none;
}