
header{
    font-size: 1.5em;
    color : white;
    text-align: left;
    background-color: rebeccapurple;
    padding: 3%;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}
body{
    background: linear-gradient(30deg, rebeccapurple 0%, darkslateblue 50%, black 100%);
    color: white;
    font-family: sans-serif;
}
#gamesbody{
    background: linear-gradient(30deg, #AD7FAD 0%, #7C4A7C 50%, #CBA2C8 100%);
    color: white;
    font-family: sans-serif;
}
footer{
    background-color: #702070;
    color: white;
    border-radius: 10px;
    margin-top: 400px;
    display: flex;
}

.twitter-share-button{
    padding: 20px;
}

#UI {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

#logo {
    float: left;
    height: 60px;
    padding: 10px
}

#names {
    text-align: left;
    padding: 20px;
}
#goal {
    padding: 1%;
}
#game_explanation {
    padding: 1%;
    line-height: 1.5;
}
#game_rules {
    padding: 1%;
    line-height: 1.5;
    border-radius: 0.25%;
}


.playBtn {
    transition-duration: .5s;
    padding: 1.2%;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: darkred;
    margin: 2%;
}

.playBtn:hover {
    transition-duration: .5s;
    background-color: mediumorchid;
    padding: 2%;
}

.black {
    background-color: black;
}

#playerName {
    font-size: 18px;
    width: 400px;
    height: 50px;
    border-radius: 35px;
}

.link{
    transition-duration: 0.5s;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.link:hover{
    transition-duration: 0.5s;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    color: purple;
    text-decoration: none;
}

.THButton {
    background-color: rebeccapurple;
    padding: 2.2%;
    margin: 5%;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 150%;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}


#TH{
    text-align: center;
}

.THButton:hover{
    transition: 0.5s;
    background-color: mediumorchid;
    padding: 3%;
}

#names {
    text-align: left;
    margin-top: 20px;
    font-size: 18px;
    color: black;
}

#question {
    display: flex;
    margin: 2%;
    transition-duration: .5s;
    font-size : 20px;
    justify-content: space-between;
    background-color: #7C4A7C;
    padding: 1%;
}

#questionBox {
    width: 75%;
    height: 50px;
    font-size: 20px;
    border-radius: 50px;
    padding: 15px; 
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    margin: 0 auto;
}

#options-container {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 705px){
    header{
        font-size: 75%;
        transition-duration: 0.1s;
    }
    .link{
        padding: 5px;
    }
    body{
        font-size: 90%;
    }
    .THButton{
        font-size: 100%;
    }
}


#questionDiv{
    text-align: center;
    justify-content: center;
    padding: 10px;
    font-size: 150%;
    margin-bottom: 2%;
}

#leaderboardContainer {
    display: flex;
    margin: 2%;
    transition-duration: .5s;
    font-size : 20px;
    justify-content: center;
    background-color: darkviolet;
    padding: 1%;
}

#leaderboardTable {
    width: 100%;
    table-layout:fixed;
    border: thin solid black;
}

#leaderboardTable tr{
    border: thin solid black;
}

#leaderboardContainer {
    display: flex;
    margin: 2%;
    transition-duration: .5s;
    font-size : 20px;
    justify-content: center;
    background-color: darkviolet;
    padding: 1%;
}

#leaderboardTable {
    width: 100%;
    table-layout:fixed;
    border: thin solid black;
}

#leaderboardTable tr{
    border: thin solid black;
}
